@use "../variables/colors";
@use "../variables/sizes";

body {
  padding: sizes.$bodyPaddingMobile;
  max-width: sizes.$bodyMaxWidth;
  margin: 0 auto;
}

html {
  color: colors.$primary;
}

input {
  background-color: colors.$primaryLightest;
  padding: sizes.$inputPadding;
  border-radius: sizes.$borderRadius;
  border: 2px solid colors.$primaryLight;
}

label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  background-color: colors.$primaryLightest;
  border-radius: sizes.$borderRadius;
  border: 2px solid colors.$primaryLight;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: sizes.$formGap;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form__checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  font-weight: bold;
}
