@use "../variables/colors";
@use "../variables/sizes";

body {
  padding: sizes.$bodyPaddingMobile;
  max-width: sizes.$bodyMaxWidth;
  margin: 0 auto;
}

html {
  color: colors.$primary;
}

a {
  font-weight: bold;
}

ul {
  list-style: none;
  list-style-position: outside;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
