<article class="location-card">
  <img src={{location.images.small}} alt={{location.name}} class="location-card__image">
  <h3 class="location-card__title">{{ location.name }}</h3>
  <span class="location-card__location">
    <ng-icon name="iconoirPinAlt" color="currentColor" strokeWidth="3"></ng-icon>{{ location.location }}
  </span>

  <div class="location-card__owner-buttons" *ngIf="owner">
    <app-button [disabled]="true" text="Modify" [big]="true"></app-button>
    <app-button text="Delete" [big]="true" (onClick)="deleteLocation()"></app-button>
  </div>

  <app-button routerLink="/locations/{{location.name.replaceAll(' ', '-')}}/{{location.id}}" [big]="true" text="Info">
  </app-button>
</article>
