<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" data-testid="form">
  <h2>Sign up for SharedSpace</h2>

  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" required autocomplete="off">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" required autocomplete="off">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" required autocomplete="off">
  </div>

  <div class="form-group ">
    <label for="owner"><input type="checkbox" name="owner" id="owner" formControlName="owner">I want to offer a
      space</label>
  </div>

  <app-button text="Sign up" [big]="true" [disabled]="registerForm.status === 'INVALID'"></app-button>

  <span>Already have an account?
    <a routerLink="/login">Login here</a>
  </span>

</form>
