button {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.9;
  gap: 0.5rem;
  padding: 0.5rem 0;
  color: inherit;
}

.map__container {
  &--open {
    height: 300px;
    width: 100%;
    margin-bottom: 2rem;
  }
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}
