<aside class="location-list__aside">
  <app-map [locations$]="locations$ " class="location-list__map"></app-map>

  <app-filter *ngIf="!owner" class="location-list__filter"></app-filter>
</aside>

<span class="location-list__count">{{count$ | async}} locations found</span>

<div *ngIf="count$ | async; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <main class="location-list">

    <ul>

      <li *ngFor="let location of locations$ | async">

        <app-location-card [location]="location" [owner]="owner">

        </app-location-card>

      </li>

    </ul>

    <app-button [disabled]="(next$ | async) === null || (next$ | async) === undefined " text="Show more"
      class="location-list__show-more" (onClick)="showMore()">
    </app-button>
  </main>
</ng-template>

<ng-template #elseBlock>

  <div class="location-list__container">
    <img class="location-list__image" src="../../../assets/svgs/no-results.svg" alt="No results found">
    <span class="location-list__no-results">Try another search</span>
  </div>

</ng-template>
