@use "../../../styles/variables/sizes";

ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: sizes.$cardListGap;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

.location-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;

  &__show-more {
    align-self: center;
  }

  &__count {
    padding-bottom: 1rem;
  }

  &__image {
    max-height: 40vh;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__no-results {
    font-weight: bold;
    font-size: 2rem;
  }
  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__filter {
    flex: 2;
  }
  &__map {
    display: none;
  }
}

@media only screen and (min-width: 588px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 880px) {
  .location-list {
    &__map {
      display: block;
      height: 300px;
      width: 100%;
    }
  }
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
