@use "../variables/colors";

@mixin modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: colors.$semiTransparentWhite;
  z-index: 10;
}
